<div class="home m-0 py-3">
  <h2 class="text-center text-uppercase fw-bold color fs-1">conatct section</h2>
  <div class="homestar d-flex gap-3 align-items-center justify-content-center py-3">
    <div></div>
    <i class="color fa-solid fa-star"></i>
    <div></div>
  </div>

  <form class="row container m-auto  flex-column align-items-center px-5 gap-4" action="#">
    <input class="input_contact col-sm-12 col-md-8 col-lg-7" type="text" max="3" placeholder="UserName">
    <input class="input_contact col-sm-12 col-md-8 col-lg-7" type="number" max="3" placeholder="UserAge">
    <input class="input_contact col-sm-12 col-md-8 col-lg-7" type="Email" max="3" placeholder="UserEmail">
    <input class="input_contact col-sm-12 col-md-8 col-lg-7" type="password" max="3" placeholder="Userpassword">
    <input class="submit col-sm-8 col-md-3 col-lg-2"  type="submit" max="3" value="Send Massage">
  </form>
</div>
