<div class="home m-0 pb-3 pt-[150px] bg-white">
  <h2 class="text-center uppercase font-bold text-4xl text-[#2B3D4F]">
    conatct section
  </h2>

  <div class="homestar flex gap-3 items-center justify-center py-3">
    <div class="w-[70px] h-[3px] bg-[#2B3D4F]"></div>
    <i class="fa-solid fa-star text-[#2B3D4F]"></i>
    <div class="w-[70px] h-[3px] bg-[#2B3D4F]"></div>
  </div>

  <form class="mx-auto px-5 flex flex-col items-center gap-4 max-w-[600px] w-full">

    <input 
      class="p-[5px] w-full border-0 shadow-md focus:outline-none" 
      type="text" placeholder="UserName">

    <input 
      class="p-[5px] w-full border-0 shadow-md focus:outline-none" 
      type="number" placeholder="UserAge">

    <input 
      class="p-[5px] w-full border-0 shadow-md focus:outline-none" 
      type="email" placeholder="UserEmail">

    <input 
      class="p-[5px] w-full border-0 shadow-md focus:outline-none" 
      type="password" placeholder="Userpassword">

    <input 
      class="bg-[#1ABD9C] hover:bg-[#1B8B74] border-0 rounded-md p-[10px] text-white font-black w-[150px] cursor-pointer"
      type="submit" 
      value="Send Massage">

  </form>
</div>
