<footer class="py-5 pb-0">
  <div class="row container m-auto text-white text-center">
    <div class="my-sm-4 my-md-3 col-sm-12 col-md-6 col-lg-4">
      <h3 class="mb-3">LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>

    <div class="my-sm-4 my-md-3 col-sm-12 col-md-6 col-lg-4  ">
      <h3 class="mb-3 text-center">AROUND THE WEB</h3>
      <div class="d-flex justify-content-center gap-2 icons">
        <img  src="/img/facebook.apng" alt="facebook" />
        <img src="/img/twitTer.apng" alt="internet" />
        <img src="/img/linkedin.apng" alt="linkedin" />
        <img src="/img/internet.apng" alt="internet" />
      </div>
    </div>

    <div class="my-sm-4 my-md-3 col-sm-12 col-md-6 col-lg-4 text-center ">
      <h3 class="mb-3">ABOUT FREELANCER</h3>
      <p class="px-5">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>

  <div class="text-white text-center bg-dark py-4">
    &copy; 2025 Hossam | All Rights Reserved
  </div>
</footer>
