<nav [class.py-4]="scroll" class="fixed start-0 end-0 text-white text-xl bg-[#2B3D4F] font-sans transition-all duration-[1000ms] z-20">
  <div class="container mx-auto px-4 flex items-center justify-between py-4">

    <a class="text-white text-3xl font-bold" href="#">Start Framework</a>

    <button
      class="text-white block lg:hidden"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="block w-8 h-1 bg-white mb-1"></span>
      <span class="block w-8 h-1 bg-white mb-1"></span>
      <span class="block w-8 h-1 bg-white"></span>
    </button>

    <div class="text-center w-full hidden lg:flex lg:w-auto lg:justify-end" id="navbarSupportedContent">
      <ul class="ms-auto flex flex-col lg:flex-row gap-4 lg:gap-6">
        <li class="nav-item">
          <a class="text-white px-3 py-2 block" aria-current="page" routerLinkActive="bg-green-600 rounded-3" routerLink="Home">Home</a>
        </li>

        <li class="nav-item">
          <a class="text-white px-3 py-2 block" aria-current="page" routerLinkActive="bg-green-600 rounded-3" routerLink="about">about</a>
        </li>

        <li class="nav-item">
          <a class="text-white px-3 py-2 block" aria-current="page" routerLinkActive="bg-green-600 rounded-3" routerLink="portfolio">portfolio</a>
        </li>

        <li class="nav-item">
          <a class="text-white px-3 py-2 block" aria-current="page" routerLinkActive="bg-green-600 rounded-3" routerLink="contact">contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
