<div class="home m-0 py-3 bg-[#1ABD9C] pt-[150px] !pt-[150px]">
  <div class="continerimage mx-auto w-[250px]">
    <img src="/img/avataaars.svg" alt="avataaars" class="w-full" />
  </div>

  <h2 class="text-center text-uppercase fw-bold text-white mt-4">start Framework</h2>

  <div class="homestar flex gap-3 items-center justify-center py-3">
    <div class="w-[70px] h-[3px] bg-white"></div>
    <i class="text-white fa-solid fa-star"></i>
    <div class="w-[70px] h-[3px] bg-white"></div>
  </div>

  <p class="m-0 text-white text-center">Graphic Artist - Web Designer - Illustrator</p>
</div>
